@{
    ViewData["Title"] = "Submit order summary";
}

<h3>Thank you for shopping.</h3>
<hr />
<p>Your order was submitted. Check your email for further informations.</p>
<a class="btn btn-green float-right input-with-green-outline-on-focus" asp-controller="Home" asp-action="Index">Finish</a>

