@model PowerSupplyUnitDetailsViewModel

<div class="row product-specification-row py-1 border-bottom">
    <div class="col-6 text-left text-lg-right text-break">
        @Html.DisplayNameFor(model => model.Size)
    </div>
    <div class="col-6 text-left text-break">
        @Html.DisplayFor(model => model.Size)
    </div>
</div>
<div class="row product-specification-row py-1 border-bottom">
    <div class="col-6 text-left text-lg-right text-break">
        @Html.DisplayNameFor(model => model.Wattage)
    </div>
    <div class="col-6 text-left text-break">
        @Html.DisplayFor(model => model.Wattage)
    </div>
</div>