@model PowerSupplyUnitDetailsViewModel

<div class="row product-specification-row py-1 border-bottom">
    <div class="col-sm-6 text-right">
        @Html.DisplayNameFor(model => model.Size)
    </div>
    <div class="col-sm-6 text-left">
        @Html.DisplayFor(model => model.Size)
    </div>
</div>
<div class="row product-specification-row py-1 border-bottom">
    <div class="col-sm-6 text-right">
        @Html.DisplayNameFor(model => model.Wattage)
    </div>
    <div class="col-sm-6 text-left">
        @Html.DisplayFor(model => model.Wattage)
    </div>
</div>