@model ProductDetailsViewModel

<div class="row product-specification-row py-1 border-bottom">
    <div class="col-sm-6 text-right">
        @Html.DisplayNameFor(model => model.Capacity)
    </div>
    <div class="col-sm-6 text-left">
        @Html.DisplayFor(model => model.Capacity)
    </div>
</div>
<div class="row product-specification-row py-1 border-bottom">
    <div class="col-sm-6 text-right">
        @Html.DisplayNameFor(model => model.Interface)
    </div>
    <div class="col-sm-6 text-left">
        @Html.DisplayFor(model => model.Interface)
    </div>
</div>