@model OrderListViewModel

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Orders</h1>
<div class="row">
    <div class="col">
        @foreach (var order in Model.Orders)
        {
            @await Html.PartialAsync("_OrderHorizontalCardPartialView", order);
        }

        <pagination-links pagination-view-model="@Model.PaginationViewModel" page-action="List" links-container-class="btn-group pull-right m-1" page-classes-enabled="true"
                          page-class="btn" page-class-normal="btn-secondary" page-class-selected="btn-primary">
        </pagination-links>
    </div>
</div>

