<ul class="list-unstyled">
    <li><a href="#" class="account-panel-link text-uppercase">My orders</a></li>
    <li><a href="#" class="account-panel-link text-uppercase">My data</a></li>
    <li><a href="#" class="account-panel-link text-uppercase active-account-panel-link">Change password</a></li>
    <li><a href="#" class="account-panel-link text-uppercase">Logout</a></li>
</ul>
