@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManage

<a href="" class="d-flex flex-column align-items-center justify-content-between text-white h-100 py-2 px-2 navbar-desktop-user-link">
    <i class="fa fa-globe-americas"></i>
    <span class="navbar-desktop-user-link-caption">Language</span>
</a>
<a href="" class="d-flex flex-column align-items-center justify-content-between text-white h-100 py-2 px-2 navbar-desktop-user-link">
    <i class="fa fa-user"></i>
    <span class="navbar-desktop-user-link-caption">Account</span>
</a>
<a href="" class="d-flex flex-column align-items-center justify-content-between text-white h-100 py-2 px-2 navbar-desktop-user-link">
    <i class="fa fa-shopping-cart"></i>
    <span class="navbar-desktop-user-link-caption">Shopping</span>
</a>