<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="accordion w-100 d-lg-flex" id="accordion">
                <div class="col-lg-4 col-md-12">
                    <a href="#shopping" data-toggle="collapse" class="text-uppercase nav-link p-0 d-block d-lg-none d-xl-none">Shopping</a>
                    <div class="d-none d-lg-block d-xl-block">Shooping</div>
                    <div class="collapse d-lg-flex" id="shopping" data-parent="#accordion">
                        Lorem Ipsum
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <a href="#two" data-toggle="collapse" class="text-uppercase nav-link p-0 d-block d-lg-none d-xl-none">Shopping</a>
                    <div class="d-none d-lg-block d-xl-block">Shooping</div>
                    <div class="collapse d-lg-flex" id="two" data-parent="#accordion">
                        Lorem Ipsum
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <a href="#social-media" data-toggle="collapse" class="text-uppercase nav-link p-0 d-block d-lg-none d-xl-none">Shopping</a>
                    <div class="d-none d-lg-block d-xl-block">Shooping</div>
                    <div class="collapse d-lg-flex" id="social-media" data-parent="#accordion">
                        Lorem Ipsum
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>