@model NewsletterViewModel

@{
    ViewData["Title"] = "Delete";
}


<h3>Are you sure you want to delete this @Model.Email newsletter?</h3>
<form asp-action="Delete">
    <input type="hidden" asp-for="NewsletterId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="List">Cancel</a>
</form>

