<h3>Send newsletter confirmation</h3>
<hr />
<p>Newsletter email message was successfully sent to all email addresses.</p>
<a class="btn btn-green float-right input-with-green-outline-on-focus" asp-controller="Home" asp-action="AdminPanel">Ok</a>