@{
    ViewData["Title"] = "Sign up for newsletter confirmation";
}

<h3>Sign up for newsletter confirmation</h3>
<hr />
<p>You have successfully signed up for our newsletter.</p>
<a class="btn btn-green float-right input-with-green-outline-on-focus" asp-controller="Home" asp-action="Index">Ok</a>