<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="accordion w-100 d-lg-flex" id="accordion">
                <div class="col-lg-4 col-md-12">
                    <a href="#shopping" data-toggle="collapse" class="text-uppercase nav-link p-0 d-block d-lg-none d-xl-none footer-category-title-link text-uppercase font-weight-bold">Orders</a>
                    <div class="d-none d-lg-block d-xl-block text-dark-ashen text-uppercase font-weight-bold mb-5">Orders</div>
                    <div class="collapse d-lg-flex" id="shopping" data-parent="#accordion">
                        <ul class="list-unstyled">
                            <li><a class="footer-link" href="">Delivery</a></li>
                            <li><a class="footer-link" href="">Instalments</a></li>
                            <li><a class="footer-link" href="">Leasing</a></li>
                            <li><a class="footer-link" href="">Insurances</a></li>
                            <li><a class="footer-link" href="">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <a href="#two" data-toggle="collapse" class="text-uppercase nav-link p-0 d-block d-lg-none d-xl-none footer-category-title-link text-uppercase font-weight-bold">ComputersStore</a>
                    <div class="d-none d-lg-block d-xl-block text-dark-ashen text-uppercase font-weight-bold mb-5">ComputersStore</div>
                    <div class="collapse d-lg-flex" id="two" data-parent="#accordion">
                        <ul class="list-unstyled">
                            <li><a class="footer-link" href="">About us</a></li>
                            <li><a class="footer-link" href="">Terms of use</a></li>
                            <li><a class="footer-link" href="">Privacy policy</a></li>
                            <li><a class="footer-link" href="">Public orders</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <a href="#social-media" data-toggle="collapse" class="text-uppercase nav-link p-0 d-block d-lg-none d-xl-none footer-category-title-link text-uppercase font-weight-bold">Contact</a>
                    <div class="d-none d-lg-block d-xl-block text-dark-ashen text-uppercase font-weight-bold mb-5">Contact</div>
                    <div class="collapse d-lg-flex" id="social-media" data-parent="#accordion">
                        <ul class="list-unstyled w-100">
                            <li class="d-flex justify-content-start align-items-center"><i class="fa fa-phone pr-1 text-medium-ashen"></i><span class="text-medium-ashen">123-456-789</span></li>
                            <li class="d-flex justify-content-start align-items-center"><i class="fa fa-envelope pr-1 text-medium-ashen"></i><span class="text-medium-ashen">computers.store@mail.com</span></li>
                            <li class="d-flex justify-content-between w-50">
                                <a href="" class="footer-link">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a href="" class="footer-link">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="" class="footer-link">
                                    <i class="fab fa-youtube"></i>
                                </a>
                                <a href="" class="footer-link">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2 mt-lg-5">
        <div class="col-12">
            <p class="text-medium-ashen text-center">ComputersStore - Web application created by Bartosz Grochal 2020</p>
        </div>
    </div>
</div>