@using ComputersStore.EmailTemplates.Views.Emails.NewOrderConfirmationEmail
@model NewOrderConfirmationEmailViewModel

<p>Hi @Model.CustomerFirstName,<p/>
<p>
    Thank you for shoping with us. Your order no. @Model.OrderId has been accepted by our system. We will inform you when goods will be ready for shipment or delivery. 
    You also will be notified about any status changes of your order.
</p>
<p>
    Cheers,<br />
    ComputersStore
</p>