@model ComputersStore.Models.ViewModels.Basic.ProductDetailsViewModel

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ProductId" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductCategory" class="control-label"></label>
            <select asp-for="ProductCategory" class="form-control" disabled></select>
            <span asp-validation-for="ProductCategory" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FormFactor" class="control-label"></label>
            <select asp-for="FormFactor" class="form-control"></select>
            <span asp-validation-for="FormFactor" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CpuSocket" class="control-label"></label>
            <select asp-for="CpuSocket" class="form-control"></select>
            <span asp-validation-for="CpuSocket" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Chipset" class="control-label"></label>
            <select asp-for="Chipset" class="form-control"></select>
            <span asp-validation-for="Chipset" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MemoryType" class="control-label"></label>
            <select asp-for="MemoryType" class="form-control"></select>
            <span asp-validation-for="MemoryType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MemoryChannel" class="control-label"></label>
            <select asp-for="MemoryChannel" class="form-control"></select>
            <span asp-validation-for="MemoryChannel" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SataSupport" class="control-label"></label>
            <select asp-for="SataSupport" class="form-control"></select>
            <span asp-validation-for="SataSupport" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>