@model ProductViewModel

<div class="card">
    <img class="card-img-top" src="@Model.ImageDataUrl" />
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Price</p>
        <a class="btn btn-primary" asp-action="Details" asp-route-id="@Model.ProductId">Details</a>
    </div>
</div>
