@model ProductEditFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
@switch (Model.ProductCategoryId)
{
    case ProductCategoryDictionary.CPU:
        @await Html.PartialAsync("_CentralProcessingUnitEditFormPartial", Model);
        break;
    case ProductCategoryDictionary.Motherboard:
        @await Html.PartialAsync("_MotherboardEditFormPartial", Model);
        break;
    case ProductCategoryDictionary.RAM:
        @await Html.PartialAsync("_RandomAccessMemoryEditFormPartial", Model);
        break;
    case ProductCategoryDictionary.GPU:
        @await Html.PartialAsync("_GraphicsProcessingUnitEditFormPartial", Model);
        break;
    case ProductCategoryDictionary.PSU:
        @await Html.PartialAsync("_PowerSupplyUnitEditFormPartial", Model);
        break;
    case ProductCategoryDictionary.HDD:
        @await Html.PartialAsync("_HardDiskDriveEditFormPartial", Model);
        break;
    case ProductCategoryDictionary.SSD:
        @await Html.PartialAsync("_SolidStateDriveEditFormPartial", Model);
        break;
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
