@using ComputersStore.EmailTemplates.Views.Emails.OrderStatusChangedEmail
@model OrderStatusChangedEmailViewModel

<p>Hi @Model.CustomerFirstName,<p />
<br />
<p>
    Your order no. @Model.OrderId has a new status: @Model.NewOrderStatusName.
</p>
<br />
<p>
    Cheers,<br />
    ComputersStore
</p>