<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>Test header</div>
    <div>
        @RenderBody()
    </div>
    <div>Test footer</div>
</body>
</html>
