<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="background-color: #000000; padding-top: 10px; padding-bottom: 10px;">
        <h1>ComputersStore</h1>
    </header>
    <div>
        @RenderBody()
    </div>
    <div>Test footer</div>
</body>
</html>
