<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="background-color: #000000; padding-top: 10px; padding-bottom: 10px; text-align: center;">
        <h1 style="color: #ffffff">ComputersStore</h1>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer style="background-color: #eaeaea; text-align: center; padding-top: 5px; padding-bottom: 5px;">
        <span style="color: #6b6e68;">&copy; 2020 - ComputersStore</span>
    </footer>
</body>
</html>
