@{
    ViewData["Title"] = "Access denied";
}

<h3>Access denied</h3>
<hr />
<p>You don't have permission to access this page.</p>
<a class="btn btn-green float-right input-with-green-outline-on-focus" asp-controller="Home" asp-action="Index">Ok</a>