@model OrderListViewModel
@{
    ViewData["Title"] = "UpdateAccountData";
    Layout = "_AccountPanelLayout";
}


<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Creation date</th>
                <th scope="col">Status</th>
                <th scope="col">Cost</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <th scope="col"><button class="btn btn-sm btn-green">@order.OrderId</button></th>
                    <th scope="col">@order.OrderDate</th>
                    <th scope="col">@order.OrderStatusName</th>
                    <th scope="col">XXX</th>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


