@{
    ViewData["Title"] = "Ask question confirmation";
}

<h3>Ask question confirmation</h3>
<hr />
<p>Your question was successfully sent to our admins. They will respond to you soon.</p>
<a class="btn btn-green float-right input-with-green-outline-on-focus" asp-controller="Account" asp-action="AskQuestion">Ok</a>