@{
    ViewData["Title"] = "Change password confirmation";
}

<h3>Change password confirmation</h3>
<hr />
<p>Your account's password was successfully changed.</p>
<a class="btn btn-green float-right input-with-green-outline-on-focus" asp-controller="Account" asp-action="ChangePassword">Ok</a>