@{
    ViewData["Title"] = "Confirm email";
}

<h3>Email confirmation</h3>
<hr />
<p>Thank you for confirming your email.</p>
<button class="btn btn-green float-right input-with-green-outline-on-focus" asp-controller="Account" asp-action="Login">Login</button>
