@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<h3>Enter your email to reset password</h3>
<hr />
<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal w-50" role="form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-green float-right input-with-green-outline-on-focus">Submit</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
