@{
    ViewData["Title"] = "Manage your account";
}

<h1>@ViewData["Title"].</h1>

<div class="row">
    <div class="col-3">
        <button>Change account data</button>
    </div>
    <div class="col-3">
        <button>Change password</button>
    </div>
    <div class="col-3">
        <button>See your orders</button>
    </div>
    <div class="col-3">
        <button>Ask a question</button>
    </div>
</div>

