@{
    ViewData["Title"] = "Registration confirmation";
}

<h3>Registration confirmation</h3>
<hr />
<p> Your account has been created. Before logging in to your account you have to confirm your email address. Check your email for a confirmation link.</p>
<a class="btn btn-green float-right input-with-green-outline-on-focus" asp-controller="Account" asp-action="Login">Login</a>
