@{
    ViewData["Title"] = "Reset password confirmation";
}

<h3>Reset password confirmation</h3>
<hr />
<p> Your password has been reset.</p>
<a class="btn btn-green float-right input-with-green-outline-on-focus" asp-controller="Account" asp-action="Login">Login</a>
