@{
    ViewData["Title"] = "Update account data confirmation";
}

<h3>Update account details confirmation</h3>
<hr />
<p>Your account's data was successfully updated.</p>
<form class="form-inline float-right" asp-controller="Account" asp-action="LogOff">
    <button type="submit" class="btn btn-green btn-sm w-100 account-panel-logout-btn input-with-green-outline-on-focus">Ok</button>
</form>