@model AccountDataViewModel
@{
    ViewData["Title"] = "UpdateAccountData";
}

<h3 class="text-uppercase">My account</h3>
<hr class="account-panel-horizontal-line" />
<div class="row">
    <div class="col-3">
        <ul class="list-unstyled">
            <li><a href="#" class="account-panel-link text-uppercase">My orders</a></li>
            <li><a href="#" class="account-panel-link text-uppercase">My data</a></li>
            <li><a href="#" class="account-panel-link text-uppercase active-account-panel-link">Change password</a></li>
            <li><a href="#" class="account-panel-link text-uppercase">Logout</a></li>
        </ul>
    </div>
    <div class="col-9">
        <form asp-controller="Account" asp-action="UpdateAccountData" method="post" class="form-horizontal" role="form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group w-50">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group w-50">
                <label asp-for="SecondName" class="control-label"></label>
                <input asp-for="SecondName" class="form-control" />
                <span asp-validation-for="SecondName" class="text-danger"></span>
            </div>
            <div class="form-group w-50">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group w-50">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group w-50">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-green">Change password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


