@{
    ViewData["Title"] = "UpdateAccountDetailsConfirmation";
}

<h3>Update account details confirmation</h3>
<p>Your account's data was successfully updated.</p>
<a class="btn btn-green float-right input-with-green-outline-on-focus" asp-controller="Account" asp-action="UpdateAccountData">Ok</a>