.login-input {
    border-bottom: 1px solid #eaeaea;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}

.login-input::placeholder {
    opacity: 1;
    color: #6b6e68;
}

.login-input:focus {
    border-color: #28a745;
    background-color: transparent;
    color: #28a745;
    box-shadow: none;
}

.login-input:invalid {
    border-color: red;
}

.registration-input {
    border-bottom: 1px solid #6b6e68;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}

.registration-input::placeholder {
    opacity: 1;
    color: #6b6e68;
}

.registration-input:focus {
    border-color: #28a745;
    background-color: transparent;
    color: #28a745;
    box-shadow: none;
}

.registration-input:invalid {
    border-color: red;
}

.forgot-password-link {
    text-decoration: underline;
    color: #000000;
    text-align: center;
    font-weight: bold;
    display: block;
}

.forgot-password-link:hover {
    color: #28a745;
}

.login-column {
    padding-top: 8rem;
}

.create-account-btn {
    background-color: transparent;
    color: #000000;
    font-weight: bold;
    border: 2px solid #000000;
}

.create-account-btn:hover {
    background-color: #000000;
    color: #ffffff;
}

.registration-column {
    padding-top: 8rem;
}