.bg-black {
    background-color: #000000;
}

.bg-dark-grey {
    background-color: #222221;
}

.bg-light-ashen {
    background-color: #eaeaea;
}

.text-medium-ashen {
    color: #919191;
}

.text-dark-ashen {
    color: #6b6e68;
}
