@using ComputersStore.EmailTemplates.Views.Emails.ResetPasswordEmail
@model ResetPasswordEmailViewModel

@{
    ViewData["EmailTitle"] = "Welcome!";
}

<br />

<a href="@Model.ResetPasswordUrl">Use this link to reset your account's password.</a>

<br />

<p>
    The Contoso Team
</p>