@using ComputersStore.EmailTemplates.Views.Emails.ResetPasswordEmail
@model ResetPasswordEmailViewModel

@{
    ViewData["EmailTitle"] = "Welcome!";
}
<p>Hi @Model.CustomerFirstName,</p>
<a href="@Model.ResetPasswordUrl">Use this link to reset your account's password.</a>
<p>
    Cheers,<br />
    ComputersStore
</p>