@using ComputersStore.EmailTemplates.Views.Emails.CustomerQuestionEmail
@model CustomerQuestionEmailViewModel

<p>Hi,</p>
<br />
<p>@Model.Content</p>
<br />
<p>
    Cheers,<br />
    @Model.CustomerFullName
</p>